.menuItem {
    position: relative;
    width: 272px;
    max-width: 272px;
    text-align: center;
}

.isDrag {
    background-color: #222222;
}

.priceBlock {
    display: table;
    margin: auto; 
}

.price {
    display: block;
    position: relative;
    float: left;
}