.list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.listCategory {
    width: 100%;
}

.categoryBlock {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}