.section {
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.smallSection {
    width: 600px;
}

.largeSection {
    width: 900px;
}

.itemsCont {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}