.column {
    width: 320px;
    text-align: left;
    padding-right: 60px;
}

.caption {
    padding: 17px 0 17px 0;
}

.field {
    padding-bottom: 24px;
}

.right {
    text-align: right;
}

.cancel {
    color: #4c4cff;
    margin-right: 28px;
    cursor: pointer;
}

.logout {
    cursor: pointer;
}