.page-cont {
    width: 1240px;
    margin: auto;
    height: calc(100% - 210px);
    text-align: center;
    display: flex;
    align-items: flex-start;
    margin-top: 120px;
}

.page-cont .input_size_default {
    width: 480px;
}