.cont {
    border-radius: 32px;
    background-color: #1c1c21;
    width: 536px;
    height: 166px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;

    margin-bottom: 16px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.cost {
    top: -5px;
    position: relative;
    padding-right: 10px;
}

.ingredintsRow {
    display: flex;
    margin-left: 20px;
}

.ingredientImage {
    border-radius: 50%;
    background-color: black;
    background-position: 50%;
    background-size: cover;

    width: 64px;
    height: 64px;
    margin-left: -20px;

    border: 2px solid #801AB2;
    text-align: center;
}

.overCount {
    top: 18px;
    position: relative;
    text-shadow: 1px 1px 2px black;
}

.priceCont {
    bottom: -20px;
    position: relative;
}