.row {
    display: flex;
    flex-direction: row;
    justify-content: 'space-between';
    align-items: center;
}

.sideRow {
    display: flex;
    flex-direction: row;
    width: 40%;
}

.left {  
    justify-content: flex-start;
}

.right {  
    justify-content: flex-end;
}