.container
{
    margin-top: calc(50vh - 258px);
}

.pageContainer {
    margin-top: calc(50vh - 358px);
}

.title {
    text-align: left;
}

.characteristics
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.charItem {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 110px;
    list-style-type: none;
    margin: 0 10px 0 10px;
    padding: 0;
}