.section {
    width: 600px;
    height: 100%;
    float: left;
}

.scrollableList {
    height: calc(100% - 206px);
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    gap: 16px;
}

.buttonWrapper {
    display: inline;
}

.commitOrderWrapper {
    text-align: right;
}