html, body, #root {
    height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-—Åontent {
    position: relative;
    margin: 0 auto;
    background-color: #1c1c21;
    overflow: auto;
    text-align: center;
    border-radius: 40px;
    width: 720px;
    height: auto;
}

#modals {
    position: relative;
    z-index: 1000;
}

.modal-close-btn {
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    border: 1px solid #2F2F37;
    border-radius: 4px;
}

a {
    text-decoration: none;
}